<!DOCTYPE html>
<html>
    <head>
        <title>Blogcito</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <script   src="https://code.jquery.com/jquery-3.0.0.js"   integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo="   crossorigin="anonymous"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <%= render "partials/navigation"%>

    <body class="background">

        <p class="notice">  <%= notice%>  </p>
        <p class="alert"><%= alert%>
        <%= yield %>

    </body>
</html>
